{% extends "sidebar.html" %}



{% block content %}


<button type="button" class="btn btn-outline-primary profilebt" id="goBack">Go Back</button>

<div class="password-container">

    <div class="wrap-password">

        <div class="login-pic">
            <img src="{{url_for('static', filename='/img/lincoln-logo-3.jpeg')}}" alt="IMG">
        </div>

        <form class="login-form" method="POST" action="">

            <span class="login-form-title">Change Password</span>

            <div class="wrap-input">
                <input type="text" id="email" Name="email" class="log-input" required placeholder="Email Address">
            </div>

            <div class="wrap-input" style="display:flex;">
                <input type="text" id="code" Name="code" class="log-input" required placeholder="code"
                    style="width:60%;">
                <button type="button" id="send" name="submit" value="send" class="password-btn">Send Code</button>
            </div>

            <div class="wrap-input">
                <input style="display:none" type="text" id="newpassword" Name="newpassword" class="log-input" required
                    placeholder="New password">
            </div>

            <div class="login-form-btn-container">
                <button type="submit" class="login-form-btn">Change Password</button>

            </div>
        </form>
    </div>
</div>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>

<script>
    const sendAction = document.querySelector('#send')
    const emailInput = document.querySelector('input[name="email"]')

    sendAction.addEventListener('click', function () {
        if (emailInput.value.length == 0) {
            alert('Please enter email address')
            return
        }
        $.post(
            '{{ url_for("change_password") }}',
            {
                email: emailInput.value
            },
            function (data) {
                console.log(data);
                alert("Email has been sent to your emailbox");
            }
        )
    })

    var inputshow = document.getElementById('newpassword');
    var inputbutton = document.getElementById('send')

    inputbutton.onclick = function () {
        inputshow.style.display = "inline";
    }

    document.getElementById("goBack").addEventListener("click", function () {
        window.history.back();
    });
</script>
{% endblock %}