{% extends "sidebar.html" %}





{% block content %}

<div class="dashboard">
    <h1 class="dashheader">Student Dashboard</h1>
    <h5 class="dashsecond">—— Manage your Placement</h5>
</div>

<div class="dashfunc mt-5">
    <div class="dashfunc1">
        <a href="{{url_for('student.student_profile')}}" class="card hover-elevate-up shadow-sm parent-hover card-dash"
            style="flex: 1;">
            <div class="card-body d-flex align-items">
                <span class="bx bxs-graduation dash-icon"></span>

                <span class="ms-3 text-gray-700 parent-hover-primary fs-6 fw-bold">
                    MY PROFILE
                </span>
            </div>
        </a>
    </div>
    <div class="dashfunc1">
        <a href="{{url_for('student.wishlist')}}" class="card hover-elevate-up shadow-sm parent-hover card-dash"
            style="flex: 1;">
            <div class="card-body d-flex align-items">
                <span class="bx bx-list-ul dash-icon"></span>

                <span class="ms-3 text-gray-700 parent-hover-primary fs-6 fw-bold">
                    My WISHLIST
                </span>
            </div>
        </a>
    </div>
    <div class="dashfunc1">
        <a href="{{url_for('student.add_project')}}" class="card hover-elevate-up shadow-sm parent-hover card-dash"
            style="flex: 1;">
            <div class="card-body d-flex align-items">
                <span class="bx bxs-add-to-queue dash-icon"></span>

                <span class="ms-3 text-gray-700 parent-hover-primary fs-6 fw-bold">
                    ADD MY OWN PROJECT
                </span>
            </div>
        </a>
    </div>
    <div class="dashfunc1">
        <a href="{{url_for('student.all_projects')}}" class="card hover-elevate-up shadow-sm parent-hover card-dash"
            style="flex: 1;">
            <div class="card-body d-flex align-items add1">
                <span class="bx bxs-buildings dash-icon"></span>

                <span class="ms-3 text-gray-700 parent-hover-primary fs-6 fw-bold">
                    VIEW COMPANIES AND PROJECTS
                </span>
            </div>
        </a>
    </div>
    <div class="dashfunc1">
        <a href="{{url_for('student.placement')}}" class="card hover-elevate-up shadow-sm parent-hover card-dash"
            style="flex: 1;">
            <div class="card-body d-flex align-items add1">
                <span class="bx bxs-notepad dash-icon"></span>

                <span class="ms-3 text-gray-700 parent-hover-primary fs-6 fw-bold">
                    VIEW PLACEMENT STATUS
                </span>
            </div>
        </a>
    </div>
    <div class="dashfunc1">
        <a href="{{url_for('change_password')}}" class="card hover-elevate-up shadow-sm parent-hover card-dash"
            style="flex: 1;">
            <div class="card-body d-flex align-items add1">
                <span class="bx bxs-cog dash-icon"></span>

                <span class="ms-3 text-gray-700 parent-hover-primary fs-6 fw-bold">
                    CHANGE MY PASSWORD
                </span>
            </div>
        </a>
    </div>
    <div class="dashfunc1">
        <a href="{{url_for('send_notice')}}" class="card hover-elevate-up shadow-sm parent-hover card-dash"
        style="flex: 1;">
            <div class="card-body d-flex align-items">
                <span class="bx bx-envelope dash-icon"></span>

                <span class="ms-3 text-gray-700 parent-hover-primary fs-6 fw-bold">
                    NOTIFICATION
                </span>
            </div>
        </a>
    </div>
    <div class="dashfunc1">

    </div>
</div>


{% endblock %}