{% extends "sidebar.html" %}



{% block content %}

{% if student_list %}

<h3 class="scd-text" style="color:rgb(92, 92, 163);margin-bottom: 20px; font-weight: 700;">STUDENT LIST</h3>

<div class="container-fluid">
    <!-- Card stats -->
    <div class="row g-6 mb-6" style="display:flex;justify-content: center;margin-bottom:50px;">

        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card shadow border-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col" style="text-align: center;">
                            <span class="h6 font-semibold text-muted text-sm d-block mb-2"><i
                                    class="bi bi-people"></i>&nbsp; Matched</span>
                            <span class="h3 font-bold mb-0">{{match_info.Matched}}</span>
                        </div>

                        <div class="col" style="text-align: center;">
                            <span class="h6 font-semibold text-muted text-sm d-block mb-2"><i
                                    class="bi bi-people"></i>&nbsp; Confirmed</span>
                            <span class="h3 font-bold mb-0">
                                {% if match_info.Confirmed %}
                                {{match_info.Confirmed}}
                                {% else %}
                                0
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    <div class="mt-2 mb-0 text-sm">
                        <span class="text-nowrap text-xs text-muted">No placements</span>
                        <span class="badge badge-pill bg-soft-success text-success me-2" style="font-size: 16px;">
                            {{match_info.No_placement}}
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<form action="{{url_for('staff.staff_student_list')}}?search=1" method="POST">
    <h6 class="txt3" style="text-align: center; margin-bottom: 2%;">Search a Student</h6>
    <div class="search-wrap" style="margin-bottom: 30px;">
        <div class="search bar1">
            <span class="txt3" style="margin-right: 1%;">by</span>
            <input type="text" class="searchTerm" id="student_id" name="student_id" placeholder="Student ID">
            <input type="text" class="searchTerm" id="first_name" name="first_name" placeholder="First Name">
            <input type="text" class="searchTerm" id="last_name" name="last_name" placeholder="Last Name">

            <select class="searchTerm" style="color:black" name="searchstatus" id="searchstatus">
                <option value="">Status</option>
                <option value="is null">Not been placed</option>
                <option value="= 'Matched' ">Matched</option>
                <option value="= 'Confirmed' ">Confirmed</option>
            </select>

            <button type="submit" class="searchButton">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>
</form>


{% if record %}
<div class="button1-container">
    <button style="margin:0 auto">
        <a href="{{url_for('staff.staff_student_list')}}"  class="btn btn-primary" >Show full list</a></button>
</div>

<h5 class="text-success" style="text-align: center; margin-bottom: 3%;"> {{record}} results found</h5>
{% endif %}




{% for info in student_list %}
<div class="scd-container" id="{{info.project_id}}" style="margin-top: 20px;">
    <div class="scd-grid">
        <div class="scd-card-content">
            <h6 class="pro-cat" id="student-{{info.student_id}}">Student ID: {{info.student_id}}</h6>
            <h2 class="pro-name">{{info.first_name}} {{info.last_name}}</h2>

            {% set student_name = info.first_name + info.last_name %}

            {% if info.pl_status == 'Matched' %}
            <p class="current-status">Placement Status: Matched</p>
            {% elif info.pl_status == 'Confirmed' %}
            <p class="current-status">Placement Status: Confirmed</p>
            {% else %}
            <p class="current-status" style="color:#d65656">Placement Status: No Placement</p>
            {% endif %}

            <p class="pro-des">Location: <span style="color:rgb(72, 72, 192);font-weight: 600;">{{info.location}}</span>
            </p>
            <p class="pro-des">Email: {{info.email}}</p>
            <p class="pro-des">Phone: {{info.phone}}</p>

            <p class="pro-des">Skills:
                {% for skill in info.skills.split(',') %}
                {{ skill.strip() }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>


            {% if info.currently_enrolled == 1 %}
            <p class="pro-des">Currently Enrolled</p>
            {% else %}
            <p class="pro-des">Not Enrolled</p>
            {% endif %}
            <p class="pro-des">Semester to Place: {{info.semester_to_place}}</p>

            <div class="status" style="position:absolute;bottom:65px;width:300px;">
                {% if info.cv_link %}
                <a class="btn btn-outline-primary profilebt" href="{{ info.cv_link }}"
                    download="{{info.first_name}}'s CV" style="width:100%;font-size: 10px;">
                    Download CV
                </a>
                {% else %}
                <p class="current-status" style="line-height:30px;margin-bottom: 0;">CV has not been uploaded</p>
                {% endif %}
            </div>

            {% if info.pl_status != 'Confirmed' and info.pl_status != 'Matched' %}
            <div style="position:absolute;bottom:20px;width:300px;">
                <a href="{{url_for('staff.staff_match_student')}}?student_id={{info.student_id}}&student_name={{student_name}}"
                    class="btn btn-outline-primary profilebt" style="width:100%;font-size: 10px;margin-top: 10px;">Match
                    to Project</a>
            </div>
            {% else %}
            <div style="position:absolute;bottom:20px;width:300px;">
                <a class="btn btn-outline-success profilebt"
                    style="width:100%;font-size: 10px;margin-top: 10px;cursor: normal;">
                    Project has been Matched</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endfor %}


<div class="pagination">
    {{pagination.links}}
</div>



{% elif student_need_list %}


<h3 class="scd-text">Students Need Project</h3>

{%for info in student_need_list %}
<div class="wlist-container">
    <div class="wlist " style="width:50rem;">

        <div class="wlist-preview" style="width:17.5rem; ">
            <h3><small>Student ID:</small> {{info.student_id}}</h3>

            <h1>{{info.first_name}} {{info.last_name}}</h1>
            <br>
            <br>
            {% if info.currently_enrolled == 1 %}
            <h3>Currently Enrolled</h3>
            {% else %}
            <h3>Not Enrolled</h3>
            {% endif %}
            <h3>Semester to be placed: {{info.semester_to_place}}</h3>
        </div>
        <div class="wlist-info">

            <h3>Location: {{info.location}}
                {% if info.pl_status == None %}
                <span style="color:black; margin-left: 150px;font-weight: 800;">Placement
                    Status: Not Placed</span>
                {% else %}
                <span style="color:#8E37D7; margin-left: 150px;font-weight: 800;">Placement
                    Status: {{info.pl_status}}</span>
                {% endif %}
            </h3>
            <h1>Skills:</h1>
            <h3>{{info.skills}}</h3>
            <br>
            <h3>Email:{{info.email}}</h3>
            <h3>Phone:{{info.phone}}</h3>

            <br>

            <form action="{{url_for('staff.staff_student_list')}}" method="POST">

                <input type="hidden" name="student_id" value="{{info.student_id}}">
                <label class="pro-des" for="status">Placement Status:</label>
                <select name="status">
                    <option value="" selected>{{info.pl_status}}</option>
                    {% for status in status_options %}
                    <option value="{{ status }}"> {{status}}</option>
                    {% endfor %}
                </select>
                <div style="display:flex;">
                    <button class="wlist-btn" type="submit">Submit</button>
                </div>
            </form>
        </div>

    </div>
</div>
{% endfor %}

<div class="pagination">
    {{pagination.links}}
</div>


{% elif student_matched_list %}



<h3 class="scd-text">Students Matched With Project</h3>

{% for info in student_matched_list %}

<div class="scd-container">
    <div class="scd-grid">


        <div class="scd-card-content">
            <h6 class="pro-cat">ID: {{info.student_id}}</h6>
            <h2 class="pro-name">{{info.first_name}} {{info.last_name}}</h2>
            <p class="pro-des">Industry: {{info.industry}}</p>
            <p class="pro-des">Company Name: {{info.company_name}}</p>
            <p class="pro-des">Mentor's Name: {{info.first}} {{info.last}}</p>

            <div class="status">
                <p class="current-status">Placement Status: {{info.pl_status}}</p>
            </div>
            <a href="">
                <button class="scd-cta">Contact Mentor</button>
            </a>

        </div>
    </div>
</div>
{% endfor %}



<div class="pagination">
    {{pagination.links}}
</div>

{% endif %}
{% endblock %}