{% extends "sidebar.html" %}





{% block content %}



<div class="contact-wrapper" id="section3">
  <a id="contact" class="js--wp-3" name="contact"></a>
  <div class="row">
    <div class="form-wrapper">
      <h2 class="contact-title" style="text-align: center;font-weight: 600;margin-bottom: 40PX;">Contact Staff</h2>
      <div class="form-inner-wrapper">
        <form action="{{url_for('mentor.contact')}}" method="POST" enctype="multipart/form-data">
          <div class="field-list clear">
            <div id="subject" class="form-item field email required">
              <label class="title" for="subject"> Subject <span class="required">*</span></label>
              <input class="field-element" name="subject" x-autocompletetype="subject" type="text" spellcheck="false" required>
            </div>

            <div id="name" class="form-item field email required">
              <label class="title" for="name">Name <span class="required">*</span></label>
              <input class="field-element" name="name" x-autocompletetype="name" type="text" spellcheck="false" required>
            </div>

            <div id="email" class="form-item field email required">
              <label class="title" for="email">Email Address <span class="required">*</span></label>
              <input class="field-element" name="email" x-autocompletetype="email" type="text" id="email-field" required>
            </div>
            <div id="textarea" class="form-item field textarea required">
              <label class="title" for="textarea-field">Message <span class="required">*</span></label>
              <textarea class="field-element" id="textarea--field" name="message" required></textarea>
            </div>
            <div id="contactResponse"></div>
            <div class="form-button-wrapper form-button-wrapper--align-center">
              <input style="width:150px;margin-right: 20px;" class="btn btn-outline-primary profilebt" type="submit" name="submit" value="Submit">

              <input style="width:150px; margin-right: 3%;" class="btn btn-primary profilebt" type="reset" name="reset" value="Reset">
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}