{% extends "base.html" %}



{% block content %}



<div class="main-container" id="reg-body">
  <!-- <div class="container-login"> -->
  <div class="wrap-login">

    <div class="login-pic">
      <img src="{{url_for('static', filename='/img/lincoln-logo-3.jpeg')}}" alt="IMG">
    </div>
    <form class="login-form" method="POST" action="#">

      <span class="login-form-title">Reset Password</span>

      <div class="wrap-input" style="text-align: right;">
        <input type="text" id="user_name1" Name="user_name1" class="log-input" placeholder="user_name">
        <span class="symbol-input">
          <i class="bi bi-people"></i>
        </span>
      </div>

      <div class="wrap-input" style="text-align: right;">
        <input type="text" id="email" Name="email" class="log-input" placeholder="Email Address">
        <span class="symbol-input">
          <i class="bi bi-envelope"></i>
        </span>
      </div>

      <div class="login-form-btn-container">
        <button type="submit" class="login-form-btn" style="width:80%">Reset Password</button>
      </div>


      <div class="text-center p-t-2 mt-3">
        <a href="{{url_for('login')}}" class="txt3"><i class="bi bi-box-arrow-left"></i> Return to Login page </a>
      </div>

    </form>

  </div>
  <!-- </div> -->
</div>

{% endblock %}